SslTunnel/Library/SslTunnel.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="TunnelConfig" nillable="true" type="TunnelConfig" />
  <xs:complexType name="TunnelConfig">
    <xs:sequence>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element minOccurs="0" maxOccurs="1" name="multiplexer" type="TunnelMultiplexer" />
        <xs:element minOccurs="0" maxOccurs="1" name="demultiplexer" type="TunnelDemultiplexer" />
        <xs:element minOccurs="0" maxOccurs="1" name="listener" type="TunnelListener" />
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TunnelMultiplexer">
    <xs:complexContent mixed="false">
      <xs:extension base="TunnelListenerBase">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="add" type="AddPort" />
          <xs:element minOccurs="0" maxOccurs="1" name="target" type="TunnelSender" />
        </xs:sequence>
        <xs:attribute name="ip" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="TunnelListenerBase" abstract="true">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="accept" type="ExpectedCertificate" />
    </xs:sequence>
    <xs:attribute name="serverCertFile" type="xs:string" />
    <xs:attribute name="serverCertPassword" type="xs:string" />
    <xs:attribute name="loggingDirectory" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="ExpectedCertificate">
    <xs:attribute name="issuedTo" type="xs:string" />
    <xs:attribute name="hash" type="xs:string" />
    <xs:attribute name="publicKey" type="xs:string" />
    <xs:attribute default="None" name="ignoreErrors" type="IgnorePolicyErrors" />
  </xs:complexType>
  <xs:simpleType name="IgnorePolicyErrors">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="NameMismatch" />
      <xs:enumeration value="ChainErrors" />
      <xs:enumeration value="All" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="TunnelListener">
    <xs:complexContent mixed="false">
      <xs:extension base="TunnelListenerBase">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="target" type="TunnelSender" />
        </xs:sequence>
        <xs:attribute name="ip" type="xs:string" />
        <xs:attribute name="port" type="xs:int" use="required" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="TunnelSender">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="expect" type="ExpectedCertificate" />
    </xs:sequence>
    <xs:attribute name="ip" type="xs:string" />
    <xs:attribute name="port" type="xs:int" use="required" />
    <xs:attribute name="clientCertFile" type="xs:string" />
    <xs:attribute name="clientCertPassword" type="xs:string" />
    <xs:attribute default="false" name="ssl" type="xs:boolean" />
  </xs:complexType>
  <xs:complexType name="TunnelSenderFromPort">
    <xs:complexContent mixed="false">
      <xs:extension base="TunnelSender">
        <xs:attribute name="forwardingPort" type="xs:int" use="required" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="TunnelDemultiplexer">
    <xs:complexContent mixed="false">
      <xs:extension base="TunnelListenerBase">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="target" type="TunnelSenderFromPort" />
        </xs:sequence>
        <xs:attribute name="ip" type="xs:string" />
        <xs:attribute name="port" type="xs:int" use="required" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="AddPort">
    <xs:attribute name="port" type="xs:int" use="required" />
  </xs:complexType>
</xs:schema>